button {
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #645f03;
  cursor: pointer;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}
* {
  font-family: "Poppins", sans-serif;
}

.content,
.contactadder {
  background-color: #ccc;
  padding: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.contact {
  background: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}
input {
  background-color: #fff;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;

  font-family: "Patrick Hand", serif;
}
.navbar {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #6f00ff;
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 0;
}
body {
  margin: 0px;
}
.footer {
  background: black;

  padding: 10px;
  font-size: 18px;
  position: relative;

  color: white;

  text-align: center;
  margin-top: 150px;
}
